{% extends "admin/base.html" %}

{% block content %}
    <section class="content-header">
        <h1>Видео</h1>
        <div class="text-right">
            <a href="{{ request.url }}add" class="btn btn-primary add"><i class="fa fa-plus"></i> Добавить</a>
        </div>
    </section>

    <section class="content container-fluid">
        {% for item in data %}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.full_name }}::{{ item.url }}</h5>
                </div>
            </div>
            <div class="actions-panel">
                <a href="{{ request.url }}edit:{{ item._id }}" class="btn brn btn-primary edit-item">Редактировать</a>
                <a href="{{ request.url }}delete:{{ item._id }}" class="btn btn-danger delete-item">Удалить</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
