<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Admin Panel | DIPlOMA</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" type="text/css" href="/static/vendor.css">
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
        <div class="container">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="/adminpanel/people" class="list-group-item">
                            <h4 class="list-group-item-heading">Люди</h4>
                        </a>
                         <a href="/adminpanel/video" class="list-group-item">
                            <h4 class="list-group-item-heading">Видео</h4>
                        </a>
                         <a href="/adminpanel/photo" class="list-group-item">
                            <h4 class="list-group-item-heading">Фото</h4>
                        </a>
                        <a href="/adminpanel/logout" class="list-group-item">
                            <h4 class="list-group-item-heading">Выйти</h4>
                        </a>
                        <a href="/" class="list-group-item">
                            <h4 class="list-group-item-heading">Открыть сайт</h4>
                        </a>
                    </div>
                </div>
                <div class="content-wrapper col-md-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <strong>Copyright &copy; 2018 <a href="#">Vlad Novsky</a>.</strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <script src="/static/manifest.js"></script>
    <script src="/static/vendor.js"></script>
    <script src="/static/admin.js"></script>
</body>
</html>
