{% extends "admin/base.html" %}

{% block content %}
    <meta name="page" content="information">

    <section class="content-header">
        <h1>О компании</h1>
        <div class="text-right">
            <button class="btn btn-warning page-back"><i class="fa fa-arrow-left"></i> Назад</button>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-block-heading">
                        <div class="panel-title">О нас</div>
                        <div class="text-right">
                            <button class="btn btn-primary submit-page-form" data-form="about">
                                <i class="fa fa-save"></i> Сохранить
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form enctype="multipart/form-data" method="POST" id="about">
                            <input type="hidden" name="form" value="about">
                            <div class="form-group{% if errors.description %} has-error{% endif %}">
                                <label class="control-label" for="field_about_description">Описание</label>
                                <textarea name="description" class="form-control" id="field_about_description" data-ckedit>{{ about.description }}</textarea>
                                <span class="help-block"> {{ errors.description }}</span>
                            </div>
                            <div class="form-group{% if errors.title_seo %} has-error{% endif %}">
                                <label class="control-label" for="field_about_seo_title">SEO Title</label>
                                <input type="text" name="title_seo" value="{{ about.title_seo }}" class="form-control" id="field_about_seo_title">
                                <span class="help-block">{{ errors.title_seo }}</span>
                            </div>
                            <div class="form-group{% if errors.description_seo %} has-error{% endif %}">
                                <label class="control-label" for="field_about_seo_description">SEO Description</label>
                                <input type="text" name="description_seo" value="{{ about.description_seo }}" class="form-control" id="field_about_seo_description">
                                <span class="help-block">{{ errors.description_seo }}</span>
                            </div>
                            <div class="form-group{% if errors.img %} has-error{% endif %}">
                                <label>Картинка</label>
                                <div class="image-uploading-field">
                                    {% if about.files %}
                                        <img src="/media/{{ about.files.img.filename }}">
                                        <label><input type="file" name="img">Изменить</label>
                                    {% else %}
                                        <label><input type="file" name="img">Выбрать</label>
                                    {% endif %}
                                </div>
                                <span class="help-block"> {{ errors.img }}</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-block-heading">
                        <div class="panel-title">Контакты</div>
                        <div class="text-right">
                            <button class="btn btn-primary submit-page-form" data-form="contacts">
                                <i class="fa fa-save"></i> Сохранить
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form enctype="multipart/form-data" method="POST" id="contacts">
                            <input type="hidden" name="form" value="contacts">
                            <div class="form-group{% if errors.description %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_description">Описание</label>
                                <textarea name="description" class="form-control" id="field_contacts_description" data-ckedit>{{ contacts.description }}</textarea>
                                <span class="help-block"> {{ errors.description }}</span>
                            </div>
                            <div class="form-group{% if errors.title_seo %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_seo_title">SEO Title</label>
                                <input type="text" name="title_seo" value="{{ contacts.title_seo }}" class="form-control" id="field_contacts_seo_title">
                                <span class="help-block">{{ errors.title_seo }}</span>
                            </div>
                            <div class="form-group{% if errors.description_seo %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_seo_description">SEO Description</label>
                                <input type="text" name="description_seo" value="{{ contacts.description_seo }}" class="form-control" id="field_contacts_seo_description">
                                <span class="help-block">{{ errors.description_seo }}</span>
                            </div>
                            <div class="form-group{% if errors.phone %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_phone">Номер телефона</label>
                                <input type="text" name="phone" value="{{ contacts.phone }}" class="form-control" id="field_contacts_phone">
                                <span class="help-block">{{ errors.phone }}</span>
                            </div>
                            <div class="form-group{% if errors.additional_phone %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_additional_phone">Дополнительный номер телефона</label>
                                <input type="text" name="additional_phone" value="{{ contacts.additional_phone }}" class="form-control" id="field_contacts_additional_phone">
                                <span class="help-block">{{ errors.additional_phone }}</span>
                            </div>
                            <div class="form-group{% if errors.email %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_email">Email</label>
                                <input type="text" name="email" value="{{ contacts.email }}" class="form-control" id="field_contacts_email">
                                <span class="help-block">{{ errors.email }}</span>
                            </div>
                            <div class="form-group{% if errors.address %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_address">Адрес офиса</label>
                                <input type="text" name="address" value="{{ contacts.address }}" class="form-control" id="field_contacts_address">
                                <span class="help-block">{{ errors.address }}</span>
                            </div>
                            <div class="form-group{% if errors.cords %} has-error{% endif %}">
                                <label class="control-label" for="field_contacts_cords">Координаты</label>
                                <input type="text" name="cords" value="{{ contacts.cords }}" class="form-control" id="field_contacts_cords">
                                <span class="help-block">{{ errors.cords }}</span>
                            </div>
                            <div class="form-group{% if errors.cords %} has-error{% endif %}">
                                <small>(отметьте на карте)</small>
                                <div id="map" style="width: 100%; height: 400px"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
