{% extends "admin/base.html" %}

{% block content %}
    <section class="content-header">
        <h1>Фото: редактирование</h1>
        <div class="text-right">
            <button class="btn btn-warning page-back"><i class="fa fa-arrow-left"></i> Назад</button>
            <button class="btn btn-primary submit-page-form"><i class="fa fa-save"></i> Сохранить</button>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form enctype="multipart/form-data" method="POST">
                    <div class="form-group{% if errors.full_name %} has-error{% endif %}">
                        <label class="control-label" for="field_full_name">ФИО</label>
                        <input type="text" name="full_name" value="{{ data.full_name }}" class="form-control" id="field_full_name">
                        <span class="help-block">{{ errors.full_name }}</span>
                    </div>
                    <div class="form-group{% if errors.img %} has-error{% endif %}">
                        <label>Картинка</label>
                        <div class="image-uploading-field">
                            {% if data.files %}
                                <img src="/media/{{ data.files.img.filename }}">
                                <label><input type="file" name="img">Изменить</label>
                            {% else %}
                                <label><input type="file" name="img">Выбрать</label>
                            {% endif %}
                        </div>
                        <span class="help-block"> {{ errors.img }}</span>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
