{% extends "admin/base.html" %}

{% block content %}
    <section class="content-header">
        <h1>Фото</h1>
        <div class="text-right">
            <a href="{{ request.url }}add" class="btn btn-primary add"><i class="fa fa-plus"></i> Добавить</a>
        </div>
    </section>

    <section class="content container-fluid">
        {% for item in data %}
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="/media/{{ item.files.img.filename }}" alt="{{ item.title }}">
                <div class="card-body">
                    {% if item.full_name %}
                        <h5 class="card-title">{{ item.birthday }} :: <b>{{ item.full_name | truncate(100) }}</b></h5>
                    {% endif %}
                </div>
            </div>
            <div class="actions-panel">
                <a href="{{ request.url }}edit:{{ item._id }}" class="btn brn btn-primary edit-item">Редактировать</a>
                <a href="{{ request.url }}delete:{{ item._id }}" class="btn btn-danger delete-item">Удалить</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
