.btn {
    width: 188px;
    height: 45px;
    color: #fff;
    border-color: transparent;
    font: 15px 'OpenSansBold';
    border-radius: 30px;
    display: block;
    padding: 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    text-decoration: none;
    font-weight: bold;

    &-default {
        background-color: #4aa5fa;
    }

    &-border {
        background: transparent;
        display: inline-block;
        width: 160px;
        height: 55px;
        line-height: 52px;
        text-align: center;
        border: 1px solid #4aa5fa;
        border-radius: 20px;
        font: 15px 'OpenSansBold';
        font-weight: bold;
        color: #333;

        &.active {
            background: @blue;
            color: #fff;
        }
    }
}
