* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @font-open-sans;
}

body * {
    max-height: 1000000em;
    -moz-text-size-adjust: none;
    user-select: none;
}

body {
    background: #f3f3f3;

    &.overflow {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

html,
body {
    height: 100%;
}

.content {
    padding: 50px 100px;
}

.title {
    font-size: 25px;

    &-with-icon {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #000;

        img {
            height: 50px;
            margin-right: 25px;
        }
    }
}

.header {
    position: absolute;
    height: 100px;
    display: flex;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    padding: 20px 50px;

    .dropdown {
        position: absolute;
        flex-direction: column;
        background: #fff;
        color: #000;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        top: 70%;
        display: none;

        &.active {
            display: flex;
        }


        a {
            padding: 5px 10px;
            color: #333;
            margin: 0;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5;
            }
        }
    }

    .logo {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            margin-top: 30px;
        }

        img {
            margin: 10px;
            height: 100%;
            width: 120px;
            display: inline-block;
        }

        span {
            color: #fff;
            font-size: 13px;

            &:first-child {
                color: @blue;
                font-weight: bold;
            }
        }
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            margin-right: 30px;
            font-weight: bold;
            font-size: 13px;

            &:hover {
                color: @blue;
            }
        }

        .search {
            margin-left: 20px;

            input {
                width: 170px;
                border-radius: 20px;
                border: 1px solid #fff;
                color: #fff;
                background: transparent;
                padding: 5px 10px;
            }
        }
    }
}

.start-screen {
    background: url(https://img.tyt.by/720x720s/n/obshchestvo/0c/f/vitebsk_yuriy_velitchenko.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 306px;

    &.docs-photo {
        background: url(https://beloi.by/wp-content/uploads/2018/05/vitp2.jpg) no-repeat;
        background-size: cover;
    }

    &.people-photo, &.people-item-photo {
        background: url(http://planeta-best.ru/wp-content/uploads/2017/01/%D0%94%D0%BE%D1%81%D1%82%D0%BE%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%87%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8-%D0%92%D0%B8%D1%82%D0%B5%D0%B1%D1%81%D0%BA%D0%B0-%D1%84%D0%BE%D1%82%D0%BE-900x500.jpg) no-repeat;
        background-size: cover;
    }

    &.search-photo {
        background: url(http://skazput.ru/wp-content/uploads/2017/11/vitebsk_sightseeing.jpg) no-repeat;
        background-size: cover;
    }

    &.test-photo {
        background: url(https://www.belarus.by/nimages/002333_481670.jpg) no-repeat;
        background-size: cover;
    }

    &.full {
        height: 650px;
    }

    h1, p {
        text-align: center;
        color: #fff;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 40px;

        &.title {
            font-size: 30px;
            letter-spacing: 1px;
            margin-bottom: -40px;
        }
    }

    p {
        margin-bottom: 100px;
    }

    .btn {
        margin: 0 auto -150px;
    }
}

.about {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 200px;
        width: 100%;

        .item {
            &:last-of-type {
                margin-top: 35px;
            }

            p {
                margin-top: 35px;
                text-align: justify;
                font-size: 15px;
            }
        }

        .persons-photo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            width: 360px;
            height: 450px;

            .person-item {
                border: 5px solid #4aa5fa;
                position: relative;

                img {
                    vertical-align: bottom;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.history {
    background: @light-gray;
    width: 100%;

    .title-with-icon {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.run-test {
    background: url(http://persony.grodno.by/people/images/footer_img.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 385px;

    .content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title, p {
        text-align: center;
        color: #fff;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
    }

    p {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .btn {
        margin-bottom: -70px;
    }

}

.people {
    .sort {
        color: #000;
        font-size: 13px;
        margin-top: -20px;
        margin-bottom: 20px;

        a {
            color: #000;
            font-size: 13px;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: @blue;
            }
        }
    }

    .people-title {
        font-weight: bold;
        text-decoration: none;
        color: #000;
        margin-bottom: 10px;
        display: block;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: @blue;
        }
    }

    .people-list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        position: relative;

        .item {
            display: grid;
            grid-template-columns: 150px 1fr;
            grid-gap: 20px;
            width: 100%;
            background: #fff;

            .information {
                padding: 5px;

                b {
                    margin-bottom: 15px;
                    font-size: 15px;
                }

                .description {
                    margin-bottom: 5px;
                    font-size: 13px;
                }

                .date {
                    font-size: 13px;
                    color: @blue;
                }
            }

            .image {
                width: 155px;
                height: 155px;
                position: relative;

                img {
                    vertical-align: center;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


.person {

    p {
        color: #333;
    }

    .people-title {
        font-weight: bold;
        text-decoration: none;
        color: #000;
        margin-bottom: 10px;
        display: block;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: @blue;
        }
    }

    .date {
        font-size: 15px;
        color: @blue;
    }

    .item {
        min-height: 230px;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 20px;
        width: 100%;

        .buttons {
            position: absolute;
            bottom: 0;
            display: flex;

            button {
                outline: none;

                &:active,
                &:focus {
                    outline: none;
                }
            }

            button:first-of-type {
                margin-right: 5px;
            }

            .active {
                background: @blue;
            }
        }

        .information {
            b {
                margin-bottom: 15px;
                font-size: 15px;
            }

            .description {
                margin-bottom: 5px;
                font-size: 15px;
            }
        }

        .image {
            width: 200px;
            height: 280px;
            position: relative;
            border: 5px solid #4aa5fa;

            img {
                vertical-align: bottom;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .text {
        margin: 30px 0;
        display: none;

        .date {
            color: #000;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            font-size: 15px;
        }

        &.active {
            display: block;
        }
    }
}

.buttons-page {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
        text-decoration: none;
        color: #000;
        font: 14px OpenSans;
        padding: 5px 10px;
        transition: all 0.3s ease-in-out;

        &.active {
            background: @blue;
            color: #fff;
        }

        &:hover {
            color: @blue;
        }
    }
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;

    .questions-status {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .questions-wrapper {
            max-width: 600px;
            width: 100%;
            background-color: #f5f5f5;
            height: 40px;
            border-bottom: 2px solid #b6b4b4;
            border-right: 2px solid #c54a2c;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .questions-list {
            display: flex;
            margin-left: 13px;
            justify-content: center;
            align-items: center;

            div {
                width: 24px;
                height: 24px;
                display: inline-block;
                text-align: center;
                line-height: 25px;
                background-color: #dfdfdf;
                border-bottom: 1px solid #bab9b9;
                margin-right: 13px;
                color: #635e5e;
                cursor: pointer;
                font-size: 13px;

                &.success {
                    color: #fff;
                    background-color: #71bf44;
                    border-bottom: 1px solid #569234;
                }

                &.error {
                    color: #fff;
                    background-color: #d85c5c;
                    border-bottom: 1px solid #a84026;
                }
            }
        }

        .start {
            width: 60px;
            background-color: #d85c5c;
            border-bottom: 2px solid #a84026;
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            position: relative;
            padding: 5px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                margin: auto;
            }
        }
    }

    .item {
        margin: 20px 0;
        max-width: 600px;
        position: relative;

        .question-number {
            background-color: #d8ef3d;
            width: 60px;
            height: 50px;
            padding-top: 10px;
            text-align: center;
            font-size: 28px;
            color: #262626;
            box-sizing: border-box;
        }

        .answer-list {
            &.disabled {
                opacity: 0.6;
                pointer-events: none;
            }

            div {
                padding: 8px 0;
                text-align: center;
                width: 100%;
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                border-right: 1px solid #000;

                &:hover {
                    background: #d8ef3d;
                }

                &.success {
                    background-color: #71bf44;
                    border-bottom: 1px solid #569234;
                }

                &.error {
                    background-color: #d85c5c;
                    border-bottom: 1px solid #a84026;
                }
            }
        }

        .image {
            max-height: 600px;
            position: relative;

            .question {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(216, 244, 23, .8);
                color: #000;
                padding: 9px 20px;
                font-size: 22px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

footer {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @blue;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.docs {
    .list-docs {
        a {
            display: block;
            font-size: 15px;
            margin: 10px 0;
            color: @blue;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
                color: #2b5e90;
            }
        }
    }
}

.filter {
    margin-left: 10px;
}

.photos {
    display: flex;
    width: 100%;
    margin: 50px 0;

    .item {
        height: 200px;
        width: 200px;
        margin: 0 10px;
        position: relative;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
