/* PATHS */
@image-path:                '@/client/images';
@font-path:                 '@/client/fonts';

/* COLORS */
@black:                     #000000;
@white:                     #FFFFFF;
@mortar:                    #595757;
@blue:                      #4aa5fa;
@endeavour:                 #4800ce;
@light-gray:                #e9e9e9;
@mariner:                   #3e49a6;
@white-smoke:               #f4f4f4;

/* FONTS */
@font-open-sans:           'Open Sans', sans-serif;

@font-size-very-small:      9px;
@font-size-super-small:     12px;
@font-size-mega-small:      13px;
@font-size-extra-small:     14px;
@font-size-optimal-small:   15px;
@font-size-small:           16px;
@font-size-optimal:         18px;
@font-size-normal:          20px;
@font-size-medium:          24px;
@font-size-super-medium:    25px;
@font-sixe-extra-medium:    30px;
@font-sixe-extra-mega:      36px;
@font-size-big:             40px;
@font-size-extra-big:       45px;
@font-size-mega-big:        80px;

/* TRANSITION */
@transition-duration-min:   0.3s;
@transition-duration-max:   0.5s;
@transition-duration-mega:  2s;
@transition-timing-fn:      ease;
@transition-timing-mega:    ease-out;

@default-transition:        @transition-duration-min @transition-timing-fn;
@max-transition:            @transition-duration-max @transition-timing-fn;
@car-transition:            @transition-duration-mega @transition-timing-mega;

/* SIZES */
@screen-xl:                 1160px;
@screen-lg:                 1000px;
@screen-md:                 920px;
@screen-sd:                 650px;
@screen-sm:                 480px;
@screen-sx:                 420px;
@screen-xs:                 320px;
