<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/vendor.css">
    <link rel="stylesheet" type="text/css" href="/static/client.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Coat_of_Arms_of_Viciebsk%2C_Belarus.svg/250px-Coat_of_Arms_of_Viciebsk%2C_Belarus.svg.png" alt="">
            </div>
            <div class="logo-description">
                <span>Почетные граждане г.Витебск</span><br>
                <span>Информационный ресурс</span><br>
                <span>Гущин Г.В.</span>
            </div>
        </div>
        <nav>
            <a href="/">Главная</a>
            <a href="/people">Почетные граждане</a>
            <a href="/docs">Копии документов</a>
            <div class="nav-wrapper">
                <a class="dropdown-activator" data-dropdown="gallery">Галерея</a>
                <div class="dropdown" id="gallery">
                    <a href="/photos">Фото</a>
                    <a href="/video">Видео</a>
                </div>
            </div>
            <div class="search">
                <input class="string-search show-search" type="text" name="search" title="" placeholder="Поиск по людей">
            </div>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        Информационный ресурс "Почетные граждане г. Витебск" © 2017<br>
        Государственное учреждение культуры "Централизованная библиотечная система г. Витебск"
    </footer>
    <script src="/static/manifest.js"></script>
    <script src="/static/vendor.js"></script>
    <script src="/static/client.js"></script>
</body>
</html>
