{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen docs-photo">
        <div class="content">
            <h1 class="title">Копии документов</h1>
        </div>
    </section>
    <section class="docs">
        <div class="content">
            <div class="list-docs">
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
                <a href="http://persony.grodno.by/people/pdf/1.pdf" target="_blank">1. Положение о порядке присвоения звания "Почетный гражданин г. Витебск" (утв. решением Гродн. гор. Совета депутатов №35 от 10.12.2003)</a>
            </div>
        </div>
    </section>
{% endblock %}
