{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen full general-photo">
        <div class="content">
            <h1>Узнай больше о почетных гражданах!</h1>
            <p>Витебск – самый красивый город Беларуси со значительным историко-культурным наследием. Но главное богатство города – люди, отдавшие свой интеллект, энергию, труд и творчество на благо экономического, научного, культурного и спортивного развития города, совершившие подвиги во имя мирной жизни. Чтобы отметить их заслуги, Гродненским городским Советом депутатов было учреждено звание «Почётный гражданин города Витебск».</p>
            <a href="/people" class="btn btn-default">Смотреть список</a>
        </div>
    </section>
    <section class="about">
        <div class="content">
            <div class="information">
                <div class="item">
                    <div class="title-with-icon">
                        <img src="http://persony.grodno.by/people/images/ico__info.png" alt="">
                        <span class="title">Что вы здесь найдете?</span>
                    </div>
                    <p>Почётные граждане города Витебск… Кто они, сколько их? Когда и за что им было присвоено звание? Как хранится память о них? Ответить на эти и другие вопросы поможет информационный ресурс, который содержит материал о 36 почётных гражданах города Витебск, удостоенных звания с 1964 года.
                        Представлены фото, биография личности, где описан вклад в славную историю Витебск, приведён список информации о людях, удостоенных почести. Есть страница с копиями официальных документов, галерея с фотографиями и видеоматериалами. Ресурс будет пополняться.</p>
                </div>
                <div class="item">
                    <div class="title-with-icon">
                        <img src="http://persony.grodno.by/people/images/ico__info.png" alt="">
                        <span class="title">Все очень просто и удобно</span>
                    </div>
                    <p>Материал информационного ресурса сгруппирован в прямом алфавитном порядке фамилий удостоенных почести граждан, но его можно сортировать в обратном алфавите фамилий, в порядке хронологии присвоения звания. Предусмотрен отдельный просмотр биографии и библиографии.
                        В разделе "Галерея" можно найти фото и видео по каждой персоналии. Строка поиска поможет быстро найти материал о личности по введённой фамилии. Ресурс удобно просматривать с любого электронного устройства от компьютеров до мобильных телефонов.</p>
                </div>
            </div>
            <div class="persons-photo">
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
                <a class="person-item">
                    <img src="http://persony.grodno.by/people/images/photo/obelevskiy.jpg" alt="">
                </a>
            </div>
        </div>
    </section>
    <section class="history">
        <div class="content">
            <div class="title-with-icon">
                <img src="http://persony.grodno.by/people/images/ico__info.png" alt="">
                <span class="title">Знакомьтесь с историей присвоения звания!</span>
            </div>
            <p class="description">
                Звание «Почётный гражданин города Витебск» существовало ещё в конце ХIХ – начале ХХ в. Это подтвердили историки А. Гостев и В. Швед. В число уважаемых попадали горожане разных сословий: гродненские губернаторы И. Н. Скворцов (1863–1868), Д. Н. Кропоткин (1868–1870), фотомастер З. Я. Карасик (1903), писательница Э. Ожешко, член Гродненского уездного присутствия Я. Ф. Кноте...
                А. Гостевым был описан интересный факт: в 1907 году жители города обратились к губернатору с просьбой присудить писательнице Элизе Ожешко звание почётного гражданина города. Несмотря на недовольство гродненского губернатора Франца-Альберта Зейна (был губернатором с июня 1906 по ноябрь 1907), звание было присуждено. Губернатор охарактеризовал Э. Ожешко как «ярую польскую националистку, крупную величину в лагере противников русского дела в Северо-Западном крае» и высказал сожаление, что общественность города уже выпросила для Ожешко звание почётного гражданина, чего «более чем достаточно для выражения сочувствия со стороны русского народа польской писательнице». Сказано это было Зейном, чтобы аргументировать категорический отказ переименовать в Витебск улицу Полевую в улицу Ожешко.
                Автор издания «Книга моей судьбы: воспоминания ровесницы ХХ века» (Прогресс-Плеяда, 2005) Рудомино Маргарита Ивановна (3 июля 1900, Белосток — 9 апреля 1990, Москва) оставила воспоминания о своём дедушке Якове Фёдоровиче Кноте, которому было присвоено звание почётного гражданина города Витебск. В Витебск 10 июня 1885 года случился сильный пожар, «дедушка в это время в самом центре города спасал имущество казённых учреждений и других домов. Когда он влезал по приставной лестнице в окно одного из домов, лестница загорелась, и он, упав, сломал себе ногу. … Бедная бабушка проявила удивительное мужество: она положила дедушку в больницу… Магистрат города присвоил дедушке звание почётного гражданина города Витебск и выдал значительную субсидию, на которую он построил новый дом, стоящий в центре Витебск и по сей день, и открыл оружейный магазин» (с). Далее в воспоминаниях внучки было отмечено: «Семья Кноте славилась в городе и входила в круг интеллигентных семей. Яков Федорович был почётным гражданином Витебск, купцом второй гильдии, владельцем оружейного магазина с большим отделом хозяйственных товаров и посуды и двух жилых домов в центре города» (с).
                1 июля 1964 года решением исполнительного комитета Гродненского городского Совета депутатов трудящихся было учреждено звание «Почётный гражданин города Витебск». Его удостаивались лица, активно участвовавшие в революционном движении, установлении Советской власти, проявившие мужество и героизм в борьбе с немецко-фашистскими захватчиками в годы Великой Отечественной войны, имеющие особые заслуги в области промышленного, хозяйственного и культурного строительства.
                С 2003 года в соответствии с Положением о порядке присвоения звания «Почётный гражданин города Витебск», утверждённым решением Гродненского городского Совета депутатов № 35 10 декабря 2003 года, звания удостаиваются жители Витебск за выдающуюся общественную и производственную деятельность на благо города, высокие достижения в развитии науки, искусства, архитектуры и спорта.
                Почётному гражданину вручается удостоверение, нагрудный знак и голубая именная лента с изображением на ней герба города Витебск и надписью «Ганаровы грамадзянін горада Гродна». Краткая информация о лицах, которым присвоено звание, размещается на сайте горисполкома (фото, сведения о заслугах, дата присвоения звания).
                С 1964 по 2016 годы звания «Почётный гражданин города Витебск» были удостоены 36 лучших людей разных профессий, должностей, воинских званий.
                Звание «Почётный гражданин города Витебск» и занесение сведений о гражданине в «Книгу славы города Витебск» – две разные почести. На протяжении истории существования почестей 9 личностей были удостоены обеих. Это Болдин И. В., Вагабов А. И., Данилов А. С., Карбышев Д. М., Корбут О. В., Осликовский Н. С., Ратайко П. И., Розанов В. Д., Соломова О.И.
                В 2017 году был издан биобиблиографический справочник «Почётные граждане города Витебск» (составление, подбор материала : И. Н. Илюшина; под общей ред. Н. Г. Свиридо. – Витебск: Гродненская типография, 2017. – 160 с.). Его можно найти в библиотеках города.
            </p>
        </div>
    </section>
    <section class="run-test">
        <div class="content">
            <span class="title">Пройдите тест!</span>
            <p class="description">
                Проверьте свои знания!<br>
                Пройдите тест «Знаете ли вы почётных гродненцев?»!
            </p>
            <a href="/test" class="btn btn-default">Перейти к тесту</a>
        </div>
    </section>
{% endblock %}
