{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen people-item-photo">
        <div class="content">
            <h1 class="title">{{ person.full_name }}</h1>
        </div>
    </section>
    <section class="person">
        <div class="content">
            <div class="item">
                <div class="image">
                    <img src="/media/{{ person.files.img.filename }}" alt="kim">
                </div>
                <div class="information">
                    <a href="/people/{{ person.url }}" class="people-title">{{ person.full_name }}</a>
                    <div class="description">{{ person.description | safe | truncate(300) }}</div>
                    {% set year = person.birthday.split('-')[0] %}
                    <div class="buttons">
                        <button class="btn btn-border person-btn" data-person="bibliography">Библиография</button>
                        <button class="btn btn-border person-btn" data-person="biography">Биография</button>
                    </div>
                </div>
            </div>
            <div class="text active" id="biography">
                <p class="date">Звание присвоено: {{ year }}</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet consectetur consequatur, eos fugiat molestias, mollitia natus, officia provident quia repellendus sint tenetur totam? Cumque magni nemo quia quod tenetur.</p>
            </div>
             <div class="text" id="bibliography">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet consectetur consequatur, eos fugiat molestias, mollitia natus, officia provident quia repellendus sint tenetur totam? Cumque magni nemo quia quod tenetur.</p>
            </div>
        </div>
    </section>
{% endblock %}
