{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen people-photo">
        <div class="content">
            <h1 class="title">Почетные граждане г. Витебск</h1>
        </div>
    </section>
    <section class="people">
        <div class="content">
            <div class="sort"><b>Сортировка:</b> <a href="?sort=1&sort-field=birthday">По дате (по возрастанию)</a> <a href="?sort=-1&sort-field=birthday">По дате (по убыванию)</a> | <a href="?sort=1&sort-field=full_name">А-Я</a> | <a href="?sort=-1&sort-field=full_name">Я-А</a></div>
            <div class="people-list">
                {% for people in paginator.page_items %}
                    <div class="item">
                        <div class="image">
                            <img src="/media/{{ people.files.img.filename }}" alt="kim">
                        </div>
                        <div class="information">
                            <a href="/people/{{ people.url }}" class="people-title">{{ people.full_name }}</a>
                            <div class="description">{{ people.description | safe | truncate(300) }}</div>
                            {% set year = people.birthday.split('-')[0] %}
                            <p class="date">Звание присвоено: {{ year }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="buttons-page">
            {% if paginator.has_pagination %}
                {% for item in range(1, paginator.num_pages + 1) %}
                    <a {% if paginator.page == item %}class="active"{% endif %} href="/people?page={{ item }}">{{ item }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
