{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen people-photo">
        <div class="content">
            <h1 class="title">Фото</h1>
        </div>
    </section>
    <section class="photo">
        <div class="content">
            <div class="filter">
                <form action="/photo?filter=all" method="GET" id="filter-photos">
                    <span>Категория</span>
                    <select name="photos" id="photos">
                        <option value="all" {% if selected == 'all' %} selected {% endif %}>Все</option>
                        {% for photo in names %}
                            <option value="{{ photo }}" {% if selected == photo %} selected {% endif %}>{{ photo }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="photos">
                {% for photo in data %}
                    <div class="item">
                        <img src="/media/{{ photo.files.img.filename }}" alt="kim">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
