{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen search-photo">
        <div class="content">
            <h1 class="title">
                {% if result %}
                    Поиск по запросу: {{ query }}</h1>
                {% else %}
                    По запросу: {{ query }} ничего не найдено
                {% endif %}
        </div>
    </section>
    <section class="people">
        <div class="content">
            <div class="people-list">
                {% for people in result %}
                    <div class="item">
                        <div class="image">
                            <img src="/media/{{ people.files.img.filename }}" alt="kim">
                        </div>
                        <div class="information">
                            <a href="/people/{{ people.url }}" class="people-title">{{ people.full_name }}</a>
                            <div class="description">{{ people.description | safe | truncate(300) }}</div>
                            {% set year = people.birthday.split('-')[0] %}
                            <p class="date">Звание присвоено: {{ year }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
