{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen test-photo">
        <div class="content">
            <h1 class="title">Тест "Знаете ли вы почётных гродненцев?"</h1>
        </div>
    </section>
    <section class="test">
        <div class="content">
            <div class="questions-status">
                <div class="questions-wrapper">
                    <div class="start">
                        <img src="https://cdn.playbuzz.com/content/images/final_screen_icon.png" alt="">
                    </div>
                    <div class="questions-list">
                        <div data-question="0">1</div>
                        <div data-question="1">2</div>
                        <div data-question="2">3</div>
                        <div data-question="3">4</div>
                        <div data-question="4">5</div>
                        <div data-question="5">6</div>
                        <div data-question="6">7</div>
                        <div data-question="7">8</div>
                        <div data-question="8">9</div>
                        <div data-question="9">10</div>
                        <div data-question="10">11</div>
                        <div data-question="11">12</div>
                        <div data-question="12">13</div>
                    </div>
                </div>
            </div>
            <div class="test-list">
                <div class="item">
                    <div class="question-number">1</div>
                    <div class="image">
                        <img src="https://cdn.playbuzz.com/cdn//712bec7a-6c9d-41d9-b983-538fe1476706/af77e53c-2021-431f-9ffd-42ed5130baac.jpg" alt="">
                        <div class="question">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem facere ipsum magni pariatur provident recusandae vel voluptatem. Eum harum mollitia, nihil numquam obcaecati quas repellat sed sequi temporibus veniam.
                        </div>
                    </div>
                    <div class="answer-list" data-question="0">
                        <div class="answer-btn" data-answer="1">Влад Новский</div>
                        <div class="answer-btn" data-answer="2">Полина Кохнович</div>
                        <div class="answer-btn" data-answer="3">Таиска Алексеевна</div>
                        <div class="answer-btn" data-answer="4">Попка Пупкин</div>
                    </div>
                </div>
                <div class="item">
                    <div class="question-number">2</div>
                    <div class="image">
                        <img src="https://cdn.playbuzz.com/cdn//712bec7a-6c9d-41d9-b983-538fe1476706/af77e53c-2021-431f-9ffd-42ed5130baac.jpg" alt="">
                        <div class="question">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem facere ipsum magni pariatur provident recusandae vel voluptatem. Eum harum mollitia, nihil numquam obcaecati quas repellat sed sequi temporibus veniam.
                        </div>
                    </div>
                    <div class="answer-list" data-question="1">
                        <div class="answer-btn" data-answer="1">Влад Новский</div>
                        <div class="answer-btn" data-answer="2">Полина Кохнович</div>
                        <div class="answer-btn" data-answer="3">Таиска Алексеевна</div>
                        <div class="answer-btn" data-answer="4">Попка Пупкин</div>
                    </div>
                </div>
                <div class="item">
                    <div class="question-number">3</div>
                    <div class="image">
                        <img src="https://cdn.playbuzz.com/cdn//712bec7a-6c9d-41d9-b983-538fe1476706/af77e53c-2021-431f-9ffd-42ed5130baac.jpg" alt="">
                        <div class="question">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem facere ipsum magni pariatur provident recusandae vel voluptatem. Eum harum mollitia, nihil numquam obcaecati quas repellat sed sequi temporibus veniam.
                        </div>
                    </div>
                    <div class="answer-list" data-question="2">
                        <div class="answer-btn" data-answer="1">Влад Новский</div>
                        <div class="answer-btn" data-answer="2">Полина Кохнович</div>
                        <div class="answer-btn" data-answer="3">Таиска Алексеевна</div>
                        <div class="answer-btn" data-answer="4">Попка Пупкин</div>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}
