{% extends "client/base.html" %}
{% block content %}
    <section class="start-screen people-photo">
        <div class="content">
            <h1 class="title">Видео</h1>
        </div>
    </section>
    <section class="photo">
        <div class="content">
            <div class="filter">
                    <form action="/video?filter=all" method="GET" id="filter-video">
                    <span>Категория</span>
                    <select name="video" id="video">
                        <option value="all" {% if selected == 'all' %} selected {% endif %}>Все</option>
                        {% for photo in names %}
                            <option value="{{ photo }}" {% if selected == photo %} selected {% endif %}>{{ photo }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="photos">
                {% for video in data %}
                    <div class="item">
                        <iframe width="200" height="200" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
